emulator
build
static_game_data.h
tests/regression_static_game_data.h
tests/test_static_game_data.h
board/picopico/picopico-backups/*
tests-build/
venv
*zip
*.bak
*~
fp-info-cache
# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*-backups/

build-*
